/* start global */
*{ margin: 0; padding: 0; }
:root
{
    --primary-color : #222;
    --input :#111;
    
}
.light-theme
{
    --secondary-color : #fff;
    --temp: #B3CEE5;
    --temp2 : #54627B;
    --temp3: #0C6980;
}
.dark
{ 
    background-color: var(--primary-color);
    font-family: system-ui;
    color: white;
    position: relative;
}
.dark input
{
background-color: var(--input);
}

/* end global */

/* start head */
.head
{
    margin: 15px 0;
}
#theme
{
    width: 30px;
    cursor: pointer;
}
/* end head  */
/* start inputs */
input
{
    width: 100%;
    height: 40px;
    outline: none;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    background-color: var(--temp);
    color: white;
    transition: 0.5s ease-in-out all;
}
input:focus
{
    background-color: #000;
    cursor: pointer;
    transform: scale(1.02);
}
.light-theme input:focus
{
    background-color: var(--temp3);
    cursor: pointer;
    transform: scale(1.02);
}
.inputs .price input
{
    width: 21%;
    margin-right: 5px;
}
.inputs .price #total
{
    padding: 5px;
    border-radius: 5px;
    background-color: red;
}
.inputs .price #total::before
{
    content: ' Total : ';
    color: var(--secondary-color);
}
.inputs #submit,
.outputs .searchBlock .btnSearch #searchTitle,
.outputs .searchBlock .btnSearch #searchCategory,
table tr td #update,
table tr td #delete
{
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: green;
    color: white;
    transition: 0.5s ease-in-out all;
}
.outputs .searchBlock .btnSearch #searchTitle,
.outputs .searchBlock .btnSearch #searchCategory
{
    width: 40%;
}

.outputs .searchBlock .btnSearch #searchTitle:hover,
.outputs .searchBlock .btnSearch #searchCategory:hover
{
    background-color: green;
    letter-spacing: 1px;
}
/* end inputs */
/* start table */
table
{
    background-color: var(--temp);
    border-collapse:separate;
    padding: 15px;
    border-radius: 20px;
    border-spacing: 20px;
    box-shadow: 0px 0px 5px 1px black;
    width: 100%;
}
table th,table td 
{
    border-radius: 5px;
    padding: 5px;
    color: white;
    
}
table th
{
    background-color:var(--temp3);
    box-shadow: 0px 0px 5px 1px black;
    padding: 15px;
}
table td
{
    
    background-color: var(--temp2);
    box-shadow: 0px 0px 5px 1px black;
}
table td:nth-child(9),
table td:nth-child(10)
{
    background-color: transparent;
    box-shadow: none;
}

table tr td #update
{
    background-color: gold;
}

table tr td #delete
{
    background-color: red;
}
#deleteAll button
{
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
    color: white;
    transition: 0.5s ease-in-out all;
}
.inputs #submit:hover,
table tr td #delete:hover,
table tr td #update:hover,
#deleteAll button:hover
{
    letter-spacing: 1.5px;
}


/*  end table */
/* for alert */
.swal-button:focus
{
    border: 0;
    outline: none;
    box-shadow: none;
}



@media(max-width: 992px){

    
	table thead{
		display: none;
	}
    .dark table tbody tr:nth-child(even) td{
	background-color: #333;
}

	table, table tbody, table tr, table td{
		display: block;
		width: 100%;
	}
	table tr{
		margin-bottom: 50px;
	}
	table td{
        margin-bottom: 20px ;
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
    table td:nth-child(9),
    table td:nth-child(10)
    {
        background-color: var(--primary-color);
        box-shadow: 0px 0px 5px 1px black;
    }
    .light-theme table td:nth-child(9),
    .light-theme table td:nth-child(10)
    {
        background-color: var(--temp2);
    }
    .light-theme table tbody tr:nth-child(even) td{
	background-color: var(--temp3);
    }
    table tr td #delete,
table tr td #update
{
height: 28px ;
}
}